body {
    background-image: url("/assets/images/logo-login.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100vh;
}

.titulo {
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
    font-family: "Poller One", serif;
    margin-top: 50px;
    color: #ffea20;
}

.main {
    max-width: 640px;
    margin: 50px auto;
    background: #000000;
    padding: 20px;
    border-radius: 10px;
    box-sizing: border-box;
}
ul {
    margin-bottom: 20px;
}
li {
    color: #ffe600;
    font-family: "Poller One", serif;
    margin-bottom: 10px;
}

form input,
form label,
form button {
    display: block;
    width: 70%;
    margin-bottom: 10px;
}
label {
    margin-top: 20px;
    color: #ffe600;
    font-family: "Poller One", serif;
}
input {
    margin-bottom: 20px;
}

form input {
    font-size: 24px;
    height: 30px;
    padding: 0 20px;
}

form button {
    border: none;
    background: #ffe600;
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    height: 50px;
    cursor: pointer;
    margin-top: 30px;
    width: 70%;
    border-radius: 8px;
}

.error-text {
    color: rgb(0, 7, 71);
    font-weight: bold;
}
